<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Golang Basic</title>
</head>
<body>
<h1>Welcome to my website</h1>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorum ducimus enim eos error laudantium praesentium quisquam ratione recusandae soluta. Distinctio incidunt laborum magni minima minus optio reprehenderit veritatis voluptate!</div>
</body>
</html>
